
*.vsidx
traducteur/GRADA/.vs/GRADA/v17/.suo
traducteur/GRADA/.vs/GRADA/DesignTimeBuild/.dtbcache.v2
traducteur/GRADA/.vs/GRADA/DesignTimeBuild/.dtbcache.v2
traducteur/GRADA/.vs/GRADA/DesignTimeBuild/.dtbcache.v2
traducteur/GRADA/obj/Debug/net8.0/refint/GRADA.dll
traducteur/GRADA/obj/Debug/net8.0/ref/GRADA.dll
traducteur/GRADA/obj/Debug/net8.0/GRADA.sourcelink.json
traducteur/GRADA/obj/Debug/net8.0/GRADA.pdb
traducteur/GRADA/obj/Debug/net8.0/GRADA.dll
traducteur/GRADA/obj/Debug/net8.0/GRADA.AssemblyInfoInputs.cache
traducteur/GRADA/obj/Debug/net8.0/GRADA.AssemblyInfo.cs
traducteur/GRADA/obj/Debug/net8.0/apphost.exe
traducteur/GRADA/obj/Debug/net8.0/ApiEndpoints.json
traducteur/GRADA/bin/Debug/net8.0/GRADA.pdb
traducteur/GRADA/bin/Debug/net8.0/GRADA.exe
traducteur/GRADA/bin/Debug/net8.0/GRADA.dll
traducteur/GRADA/.vs/ProjectEvaluation/grada.projects.v7.bin
traducteur/GRADA/.vs/ProjectEvaluation/grada.metadata.v7.bin
traducteur/GRADA/.vs/GRADA/v17/TestStore/2/testlog.manifest
traducteur/GRADA/.vs/GRADA/v17/TestStore/2/000.testlog
traducteur/GRADA/.vs/GRADA/v17/TestStore/0/testlog.manifest
traducteur/GRADA/.vs/GRADA/v17/TestStore/0/000.testlog
traducteur/GRADA/.vs/GRADA/v17/DocumentLayout.json
traducteur/GRADA/.vs/GRADA/v17/.suo
traducteur/GRADA/.vs/GRADA/v17/.futdcache.v2
traducteur/GRADA/.vs/GRADA/FileContentIndex/d22e8439-6d6c-47b0-9c00-8f14eadfc59e.vsidx
traducteur/GRADA/.vs/GRADA/FileContentIndex/b3eebc7e-91be-4607-9267-29c7188a91dc.vsidx
traducteur/GRADA/.vs/GRADA/DesignTimeBuild/.dtbcache.v2
